<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.by5388.daynight">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DayNightForActivity"
            android:label="night-mode-activity"
            android:theme="@style/MyAppThemeDayNight"></activity>
        <activity
            android:name=".DayNightForDialog"
            android:label="night-mode-dialog"></activity>
        <activity
            android:name=".DayNightForAlertDialog"
            android:label="night-mode-alert-dialog"></activity>
        <activity android:name=".ChangeSkinActivity" />
        <activity android:name=".DayNightActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>